/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Admin/Controllers/ExcelController.php
/app/Admin/Actions/Excel/
/app/Admin/Actions/Consume/
/app/Jobs/BatchUpdateExcelPlace.php
/app/Jobs/UpdateExcelIdcard.php
/app/Jobs/UpdateExcelPlace.php
/app/Models/Excel.php
/app/Tools/
/app/Imports/
/resources/views/web/index.blade.php.bak
/storage/framework/laravel-excel/
